body {
    text-align: center;
    margin: 5px;
    align-content: center;
    background-color: lightblue;
}
.mainContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 80px solid red;
    border-radius: 40px;
    width: 960px;
    min-height: 70vh;
    background-color: white;
}

.rowContainer {
    flex: auto;
    display: flex;
}

.rowContainer div {
    flex: auto;
}

.backGroundChange {
    background-color: gray;
}

button {
    border-radius: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 10px;
    margin: 5px;
}